body, footer {
	background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, rgb(91,165,69), rgb(52, 79, 45)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgb(91,165,69), rgb(52, 79, 45)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgb(91,165,69), rgb(52, 79, 45)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgb(91,165,69), rgb(52, 79, 45)); /* Standard syntax (must be last) */
}

.front {
  max-width: 70%;
  height: 490px;
  margin: 30px auto 0 auto;
  border-radius: 15px;
  background-color: white;
}

.front-port {
  max-width: 70%;
  height: 750px;
  margin: 30px auto 0 auto;
  border-radius: 15px;
  background-color: white;
}

.padding {
	margin: 10px;
}

.centre {
    display: block;
    margin: 0 auto;
    margin-top: 2px;
}

 .blue-border {
    border-color: #5ba545;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
  }

 #centre {
    text-align: center;
}

#left {
    text-align: left;
}

#right {
    text-align: right;
    margin: 10px;
}
