body {
	background-color: #3498db;
}

.front {
  max-width:550px;
  height:550px;
  margin:150px auto 0 auto;
  border-radius:15px;
  background-color:white;
}

.padding {
	margin: 10px;
}

.middle {
	vertical-align: middle;
}

