body {
	background-color: #5ba545;
}

footer {
	background-color: white;
	margin-bottom: 0px;
}

.front {
  max-width: 70%;
  height: 490px;
  margin: 30px auto 0 auto;
  border-radius: 15px;
  background-color: white;
}

.front-port {
  max-width: 70%;
  height: 700px;
  margin: 30px auto 0 auto;
  border-radius: 15px;
  background-color: white;
}

.padding {
	margin: 10px;
}

.centre {
    display: block;
    margin: 0 auto;
    margin-top: 2px;
}

 .blue-border {
    border-color: #5ba545;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
  }

 #centre {
    text-align: center;
}

#left {
    text-align: left;
}

#right {
    text-align: right;
    margin: 10px;
}
